# Stream Video
NEXT_PUBLIC_STREAM_API_KEY= 
STREAM_API_SECRET= 

# Convex (filled by `npx convex dev`)
NEXT_PUBLIC_CONVEX_URL= 

# Agent Server
AGENT_SERVER_URL= 

# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT= # team: aryan-b07e0, project: candidai

NEXT_PUBLIC_CONVEX_SITE_URL= 

# Convex Auth
SITE_URL= 
CANDIDAI_ADMIN_EMAIL=
